<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inducesmile.androidtabwithswipe">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- These permissions are required to use bluetooth -->
    <!-- 블루투스 기능을 사용하기 위해 필요한 권한입니다. -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <!--
         One of these permissions are required for Android API 23 (marshmallow) or higher.
        If you already use one of them, you do not need to add the other permission.
        "ACCESS_COARSE_LOCATION" permission is recommended.
    -->
    <!--
         안드로이드 API 23 (마시멜로우) 이상의 버전에서 필요한 권한입니다.
        ACCESS_COARSE_LOCATION 혹은 ACCESS_FINE_LOCATION 중 1개의 권한만 필요로 합니다.
        당사에서는 ACCESS_COARSE_LOCATION 권한을 권장합니다.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/o2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivityb" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RecoMonitoringActivity"></activity>
        <activity android:name=".RecoRangingActivity"></activity>
        <activity
            android:name=".O2ShoppingAssistant"
            android:screenOrientation="landscape" />
        <activity android:name=".AndroidO2" />
        <activity android:name=".SubActivity" />
        <activity android:name=".PopupStore" />
        <activity android:name=".PopupConsist" />
        <activity android:name=".PopupSize" />
        <activity android:name=".FacebookPhoto" />
        <activity
            android:name=".Information"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme"></activity>
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider224587987955879"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->

        <service android:name="com.perples.recosdk.RECOBeaconService" />
        <service android:name=".RecoBackgroundMonitoringService" />
        <service android:name=".RecoBackgroundRangingService" />

        <activity
            android:name=".BookMarkActivity"
            android:label="@string/title_activity_book_mark"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>